/** * Inicio animaciones generales * **/

@-webkit-keyframes fadeIn { 
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-o-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn { 
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@-moz-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@-o-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeOut { 
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes fadeOpen { 
    0% {-webkit-transform: scale(0); -webkit-transform-origin: 50% 50%;} 
    100% {-webkit-transform: scale(1); -webkit-transform-origin: 50% 50%; opacity: 1;}
}

@-moz-keyframes fadeOpen {
    0% {-moz-transform: scale(0); -moz-transform-origin: 50% 50%;} 
    100% {-moz-transform: scale(1); -moz-transform-origin: 50% 50%; opacity: 1;}
}

@-o-keyframes fadeOpen {
    0% {-o-transform: scale(0); -o-transform-origin: 50% 50%;} 
    100% {-o-transform: scale(1); -o-transform-origin: 50% 50%; opacity: 1;}
}

@keyframes fadeOpen { 
    0% {transform: scale(0); transform-origin: 50% 50%;} 
    100% {transform: scale(1); transform-origin: 50% 50%; opacity: 1;}
}

@-webkit-keyframes fadeClose { 
    0% {-webkit-transform: scale(1); -webkit-transform-origin: 50% 50%;} 
    100% {-webkit-transform: scale(0); -webkit-transform-origin: 50% 50%;}
}

@-moz-keyframes fadeClose {
    0% {-moz-transform: scale(1); -moz-transform-origin: 50% 50%;} 
    100% {-moz-transform: scale(0); -moz-transform-origin: 50% 50%;}
}

@-o-keyframes fadeClose {
    0% {-o-transform: scale(1); -o-transform-origin: 50% 50%;} 
    100% {-o-transform: scale(0); -o-transform-origin: 50% 50%;}
}

@keyframes fadeClose { 
    0% {transform: scale(1); transform-origin: 50% 50%;} 
    100% {transform: scale(0); transform-origin: 50% 50%;}
}

@-webkit-keyframes openItems {
    0% {opacity: 0; -webkit-transform: scaleY(0);}
    100% {opacity: 1; -webkit-transform: scaleY(100%); display: block;}
}

@-moz-keyframes openItems {
    0% {opacity: 0; -moz-transform: scaleY(0);}
    100% {opacity: 1; -moz-transform: scaleY(100%); display: block;}
}

@-o-keyframes openItems {
    0% {opacity: 0; -o-transform: scaleY(0);}
    100% {opacity: 1; -o-transform: scaleY(100%); display: block;}
}

@keyframes openItems {
    0% {opacity: 0; -ms-transform: scaleY(0); transform: scaleY(0);}
    100% {opacity: 1; -ms-transform: scaleY(100%); transform: scaleY(100%); display: block;}
}

@-webkit-keyframes closeItems {
    0% {opacity: 1; -webkit-transform: scaleY(100%);}
    100% {opacity: 0; -webkit-transform: scaleY(0); display: none;}
}

@-moz-keyframes closeItems {
    0% {opacity: 1; -moz-transform: scaleY(100%);}
    100% {opacity: 0; -moz-transform: scaleY(0); display: none;}
}

@-o-keyframes closeItems {
    0% {opacity: 1; -o-transform: scaleY(100%);}
    100% {opacity: 0; -o-transform: scaleY(0); display: none;}
}

@keyframes closeItems {
    0% {opacity: 1; -ms-transform: scaleY(100%); transform: scaleY(100%);}
    100% {opacity: 0; -ms-transform: scaleY(0); transform: scaleY(0); display: none;}
}

@-webkit-keyframes fadeOpenButtonAction { 
    0% {-webkit-transform: scale(0); -webkit-transform-origin: 50% 50%; opacity: 0;} 
    100% {-webkit-transform: scale(1); -webkit-transform-origin: 50% 50%; opacity: 1;}
}

@-moz-keyframes fadeOpenButtonAction {
    0% {-moz-transform: scale(0); -moz-transform-origin: 50% 50%; opacity: 0;} 
    100% {-moz-transform: scale(1); -moz-transform-origin: 50% 50%; opacity: 1;}
}

@-o-keyframes fadeOpenButtonAction {
    0% {-o-transform: scale(0); -o-transform-origin: 50% 50%; opacity: 0;} 
    100% {-o-transform: scale(1); -o-transform-origin: 50% 50%; opacity: 1;}
}

@keyframes fadeOpenButtonAction { 
    0% {transform: scale(0); transform-origin: 50% 50%; opacity: 0;} 
    100% {transform: scale(1); transform-origin: 50% 50%; opacity: 1;}
}

/** * Fin animaciones generales * **/

/** * Inicio animaciones atlas trastornos psiquiátricos * **/

@keyframes index-2 { 
    0% {right: 200px;}
    100% {right: 30px; opacity: 1;}
}

@keyframes index-4 { 
    0% {left: -300px;}
    100% {left: 0px; opacity: 1;}
}

@keyframes index-5 { 
    0% {left: -600px;}
    100% {left: 0px; opacity: 1;}
}

@keyframes index-7 { 
    0% {transform: scale(0.5); -webkit-transform-origin: 50% 50%;}
    50% {transform: scale(1.3); -webkit-transform-origin: 50% 50%;}
    100% {transform: scale(1); opacity: 1; -webkit-transform-origin: 50% 50%;}
}
/*Animation center*/
	@keyframes zoomCenter {
	0% {transform: scale(0.0)}
	50% {transform: scale(1)}
	100% {opacity:1;}
	}
	@-webkit-keyframes zoomCenter {
	0% {-webkit-transform: scale(0.0)}
	50% {transform: scale(1)}
	100% {-webkit-opacity:1}
	}
	@-moz-keyframes zoomCenter {
	0% {-moz-transform: scale(0.0)}
	100% {-moz-transform: scale(1.1);opacity:1;}
	}
	@-o-keyframes zoomCenter {
	0% {-o-transform: scale(0.0)}
	100% {-o-transform: scale(1.1);opacity:1;}
	}

/*Animation rotateOpen*/
@-webkit-keyframes rotateOpen { 
	0% {-webkit-transform: rotateY(90deg);}
	100% {-webkit-opacity: 1;perspective : 500px;}
}

@-moz-keyframes rotateOpen {
	0% {-moz-transform: rotateY(90deg);}
	100% {-moz-opacity: 1;perspective : 500px;}
}

@-o-keyframes rotateOpen {
	0% {-o-transform: rotateY(90deg);}
	100% {-o-opacity: 1;perspective : 500px;}
}

@keyframes rotateOpen { 
	0% {transform: rotateY(90deg);}
	100% { opacity: 1;perspective : 500px;}
}

/*Animation rotateClose*/
@-webkit-keyframes rotateClose { 
	0% {-webkit-transform: rotateY(90deg);}
	100% {-webkit-opacity: 1;perspective : 500px;}
}

@-moz-keyframes rotateClose {
	0% {-moz-transform: rotateY(90deg);}
	100% {-moz-opacity: 1;perspective : 500px;}
}

@-o-keyframes rotateClose {
	0% {-o-transform: rotateY(0deg);}
	100% {-o-opacity: 0;perspective : 500px;}
}

@keyframes rotateClose { 
	0% {perspective : 500px;}
	100% { opacity: 0;transform: rotateY(45deg);}
}
	/*Animation slideDown*/
	@keyframes slideDown {
	0% {transform: translateY(-100%);}
	100% {transform: translateY(0%);opacity:1;}
	}
	@-o-keyframes slideDown {
	0% {-o-transform: translateY(-100%);}
	100% {-o-transform: translateY(0%);opacity: 1;}
	}
	@-webkit-keyframes slideDown {
	0% {-webkit-transform: translateY(-100%);}
	100% {-webkit-transform: translateY(0%);opacity: 1;}
	}
	@-moz-keyframes slideDown {
	0% {-moz-transform: translateY(-100%);}
	100% {-moz-transform: translateY(0%);opacity:1;}
	}

		/*Animation slideUp*/	

	@keyframes slideUp {
	0% {-webkit-transform: translateY(100%);}
	100% {-webkit-transform: translateY(0%);opacity: 1;}
	}
	@-webkit-keyframes slideUp {
	0% {-webkit-transform: translateY(100%);}
	100% {-webkit-transform: translateY(0%);opacity: 1;}
	}
	@-moz-keyframes slideUp {
	0% {-moz-transform: translateY(100%);}
	100% {-moz-transform: translateY(0%);opacity: 1;}
	}
	@-o-keyframes slideUp {
	0% {-o-transform: translateY(0%);}
	100% {-o-transform: translateY(100%);opacity: 1;}
	}
			/*Animation slideLeft*/
	@keyframes slideLeft {
	0% {transform: translateX(-100%);}
	100% {transform: translateX(0%);opacity:1;}
	}
	@-o-keyframes slideLeft {
	0% {-o-transform: translateX(-100%);}
	100% {-o-transform: translateX(0%);opacity: 1;}
	}
	@-webkit-keyframes slideLeft {
	0% {-webkit-transform: translateX(-100%);}
	100% {-webkit-transform: translateX(0%);opacity: 1;}
	}
	@-moz-keyframes slideLeft {
	0% {-moz-transform: translateX(-100%);}
	100% {-moz-transform: translateX(0%);opacity:1;}
	}
				/*Animation slideRight*/
	@keyframes slideRight {
	0% {-webkit-transform: translateX(100%);}
	100% {-webkit-transform: translateX(0%);opacity:1;}
	}
	@-webkit-keyframes slideRight {
	0% {-webkit-transform: translateX(100%);}
	100% {-webkit-transform: translateX(0%);opacity:1;}
	}
	@-moz-keyframes slideRight {
	0% {-moz-transform: translateX(100%);}
	100% {-moz-transform: translateX(0%);opacity:1;}
	}
	@-o-keyframes translateX {
	0% {-o-transform: translateX(100%);}
	100% {-o-transform: translateX(0%);opacity: 1;}
	}
/** * Fin animaciones atlas trastornos psiquiátricos * **/

