/** * Inicio animaciones generales * **/

@-webkit-keyframes fadeIn { 
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-o-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn { 
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@-moz-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@-o-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeOut { 
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes fadeOpen { 
    0% {-webkit-transform: scale(0); -webkit-transform-origin: 50% 50%;} 
    100% {-webkit-transform: scale(1); -webkit-transform-origin: 50% 50%; opacity: 1;}
}

@-moz-keyframes fadeOpen {
    0% {-moz-transform: scale(0); -moz-transform-origin: 50% 50%;} 
    100% {-moz-transform: scale(1); -moz-transform-origin: 50% 50%; opacity: 1;}
}

@-o-keyframes fadeOpen {
    0% {-o-transform: scale(0); -o-transform-origin: 50% 50%;} 
    100% {-o-transform: scale(1); -o-transform-origin: 50% 50%; opacity: 1;}
}

@keyframes fadeOpen { 
    0% {transform: scale(0); transform-origin: 50% 50%;} 
    100% {transform: scale(1); transform-origin: 50% 50%; opacity: 1;}
}

@-webkit-keyframes fadeClose { 
    0% {-webkit-transform: scale(1); -webkit-transform-origin: 50% 50%;} 
    100% {-webkit-transform: scale(0); -webkit-transform-origin: 50% 50%;}
}

@-moz-keyframes fadeClose {
    0% {-moz-transform: scale(1); -moz-transform-origin: 50% 50%;} 
    100% {-moz-transform: scale(0); -moz-transform-origin: 50% 50%;}
}

@-o-keyframes fadeClose {
    0% {-o-transform: scale(1); -o-transform-origin: 50% 50%;} 
    100% {-o-transform: scale(0); -o-transform-origin: 50% 50%;}
}

@keyframes fadeClose { 
    0% {transform: scale(1); transform-origin: 50% 50%;} 
    100% {transform: scale(0); transform-origin: 50% 50%;}
}

@-webkit-keyframes rotateYwise { 
    100% {-webkit-transform: rotateY(180deg);}
}

@keyframes rotateYwise { 
    100% {transform: rotateY(180deg);}
}

@-webkit-keyframes rotateYwiseBackwards { 
    0% {-webkit-transform: rotateY(180deg);}
    100% {-webkit-transform: rotateY(0deg);}
}

@keyframes rotateYwiseBackwards { 
    0% {transform: rotateY(180deg);}
    100% {transform: rotateY(0deg);}
}

@-webkit-keyframes slide-9-3 { 
    50% {top: 360px; left: 80px; background: #E8A744;}
    75% {background: rgba(255, 255, 255, 0);}
}

@keyframes slide-9-3 { 
    50% {top: 360px; left: 80px; background: #E8A744;}
    75% {background: rgba(255, 255, 255, 0);}
}

@-webkit-keyframes slide-9-4 { 
    50% {top: 460px; left: 80px; background: #E8A744;}
    75% {background: rgba(255, 255, 255, 0);}
}

@keyframes slide-9-4 { 
    50% {top: 460px; left: 80px; background: #E8A744;}
    75% {background: rgba(255, 255, 255, 0);}
}

@-webkit-keyframes slide-9-5 { 
    50% {top: 560px; left: 80px; background: #E8A744;}
    75% {background: rgba(255, 255, 255, 0);}
}

@keyframes slide-9-5 { 
    50% {top: 560px; left: 80px; background: #E8A744;}
    75% {background: rgba(255, 255, 255, 0);}
}

@-webkit-keyframes slide-9-6 { 
    50% {top: 660px; left: 80px; background: #E8A744;}
    75% {background: rgba(255, 255, 255, 0);}
}

@keyframes slide-9-6 { 
    50% {top: 660px; left: 80px; background: #E8A744;}
    75% {background: rgba(255, 255, 255, 0);}
}

@-webkit-keyframes slide-9-7 { 
    50% {top: 760px; left: 80px; background: #E8A744;}
    75% {background: rgba(255, 255, 255, 0);}
}

@keyframes slide-9-7 { 
    50% {top: 760px; left: 80px; background: #E8A744;}
    75% {background: rgba(255, 255, 255, 0);}
}

@-webkit-keyframes slide-9-8 { 
    50% {top: 860px; left: 80px; background: #E8A744;}
    75% {background: rgba(255, 255, 255, 0);}
}

@keyframes slide-9-8 { 
    50% {top: 860px; left: 80px; background: #E8A744;}
    75% {background: rgba(255, 255, 255, 0);}
}

@-webkit-keyframes slide-9-9 { 
    50% {top: 960px; left: 80px; background: #E8A744;}
    75% {background: rgba(255, 255, 255, 0);}
}

@keyframes slide-9-9 { 
    50% {top: 960px; left: 80px; background: #E8A744;}
    75% {background: rgba(255, 255, 255, 0);}
}

@-webkit-keyframes slide-10-3 { 
    0% {-webkit-transform: scaleY(0); -webkit-transform-origin: 50% 100%;}
    100% {-webkit-transform: scaleY(1); -webkit-transform-origi: 50% 100%; opacity: 1;}
}

@keyframes slide-10-3 { 
    0% {transform: scaleY(0); transform-origin: 50% 100%;}
    100% {transform: scaleY(1); transform-origin: 50% 100%; opacity: 1;}
}

@-webkit-keyframes slide-11-4 { 
    0% {-webkit-transform: scaleX(1); -webkit-transform-origin: 100% 50%;}
    15% {opacity: 1;}
    100% {-webkit-transform: scaleX(0); -webkit-transform-origin: 100% 50%; opacity: 1;}
}

@keyframes slide-11-4 { 
    0% {transform: scaleX(1); transform-origin: 100% 50%;}
    15% {opacity: 1;}
    100% {transform: scaleX(0); transform-origin: 100% 50%; opacity: 1;}
}

@-webkit-keyframes slide-12-4 { 
    0% {-webkit-transform: scaleX(1); -webkit-transform-origin: 100% 50%;}
    15% {opacity: 1;}
    100% {-webkit-transform: scaleX(0); -webkit-transform-origin: 100% 50%; opacity: 1;}
}

@keyframes slide-12-4 { 
    0% {transform: scaleX(1); transform-origin: 100% 50%;}
    15% {opacity: 1;}
    100% {transform: scaleX(0); transform-origin: 100% 50%; opacity: 1;}
}

@-webkit-keyframes slide-14-3 { 
    0% {-webkit-transform: scaleY(0); -webkit-transform-origin: 50% 100%;}
    100% {-webkit-transform: scaleY(1); -webkit-transform-origin: 50% 100%; opacity: 1;}
}

@keyframes slide-14-3 { 
    0% {transform: scaleY(0); transform-origin: 50% 100%;}
    100% {transform: scaleY(1); transform-origin: 50% 100%; opacity: 1;}
}

@-webkit-keyframes slide-14-4 { 
    0% {-webkit-transform: scaleY(0); -webkit-transform-origin: 50% 0%;}
    100% {-webkit-transform: scaleY(1); -webkit-transform-origin: 50% 0%; opacity: 1;}
}

@keyframes slide-14-4 { 
    0% {transform: scaleY(0); transform-origin: 50% 0%;}
    100% {transform: scaleY(1); transform-origin: 50% 0%; opacity: 1;}
}

@-webkit-keyframes slide-17-6 { 
    0% {-webkit-transform: rotateZ(0deg); opacity: 1;}
    100% {-webkit-transform: rotateZ(360deg); opacity: 1;}
}

@keyframes slide-17-6 { 
    0% {transform: rotateZ(0deg); opacity: 1;}
    100% {transform: rotateZ(360deg); opacity: 1;}
}

@-webkit-keyframes slide-19-3 { 
    0% {-webkit-transform: scale(0,0); -webkit-transform-origin: 25% 0%;}
    100% {-webkit-transform: scale(1,1); -webkit-transform-origin: 25% 0%; opacity: 1;}
}

@keyframes slide-19-3 { 
    0% {transform: scale(0,0); transform-origin: 25% 0%;}
    100% {transform: scale(1,1); transform-origin: 25% 0%; opacity: 1;}
}

@-webkit-keyframes slide-19-4 { 
    0% {-webkit-transform: scale(0,0); -webkit-transform-origin: 0% 0%;}
    100% {-webkit-transform: scale(1,1); -webkit-transform-origin: 0% 0%; opacity: 1;}
}

@keyframes slide-19-4 { 
    0% {transform: scale(0,0); transform-origin: 0% 0%;}
    100% {transform: scale(1,1); transform-origin: 0% 0%; opacity: 1;}
}

@-webkit-keyframes slide-19-5 { 
    0% {-webkit-transform: scale(0,0); -webkit-transform-origin: 10% 80%;}
    100% {-webkit-transform: scale(1,1); -webkit-transform-origin: 10% 80%; opacity: 1;}
}

@keyframes slide-19-5 { 
    0% {transform: scale(0,0); transform-origin: 10% 80%;}
    100% {transform: scale(1,1); transform-origin: 10% 80%; opacity: 1;}
}

@-webkit-keyframes slide-19-6 { 
    0% {-webkit-transform: scale(0,0); -webkit-transform-origin: 5% 100%;}
    100% {-webkit-transform: scale(1,1); -webkit-transform-origin: 5% 100%; opacity: 1;}
}

@keyframes slide-19-6 { 
    0% {transform: scale(0,0); transform-origin: 5% 100%;}
    100% {transform: scale(1,1); transform-origin: 5% 100%; opacity: 1;}
}

@-webkit-keyframes slide-19-7 { 
    0% {-webkit-transform: scale(0,0); -webkit-transform-origin: 90% 100%;}
    100% {-webkit-transform: scale(1,1); -webkit-transform-origin: 90% 100%; opacity: 1;}
}

@keyframes slide-19-7 { 
    0% {transform: scale(0,0); transform-origin: 90% 100%;}
    100% {transform: scale(1,1); transform-origin: 90% 100%; opacity: 1;}
}

@-webkit-keyframes slide-19-8 { 
    0% {-webkit-transform: scale(0,0); -webkit-transform-origin: 100% 90%;}
    100% {-webkit-transform: scale(1,1); -webkit-transform-origin: 100% 90%; opacity: 1;}
}

@keyframes slide-19-8 { 
    0% {transform: scale(0,0); transform-origin: 100% 90%;}
    100% {transform: scale(1,1); transform-origin: 100% 90%; opacity: 1;}
}

@-webkit-keyframes slide-19-9 { 
    0% {-webkit-transform: scale(0,0); -webkit-transform-origin: 100% 10%;}
    100% {-webkit-transform: scale(1,1); -webkit-transform-origin: 100% 10%; opacity: 1;}
}

@keyframes slide-19-9 { 
    0% {transform: scale(0,0); transform-origin: 100% 10%;}
    100% {transform: scale(1,1); transform-origin: 100% 10%; opacity: 1;}
}

@-webkit-keyframes slide-19-10 { 
    0% {-webkit-transform: scale(0,0); -webkit-transform-origin: 90% 0%;}
    100% {-webkit-transform: scale(1,1); -webkit-transform-origin: 90% 0%; opacity: 1;}
}

@keyframes slide-19-10 { 
    0% {transform: scale(0,0); transform-origin: 90% 0%;}
    100% {transform: scale(1,1); transform-origin: 90% 0%; opacity: 1;}
}

@-webkit-keyframes slide-19-20 { 
    0% {-webkit-transform: scale(0,0); -webkit-transform-origin: 0% 0%;}
    100% {-webkit-transform: scale(1,1); -webkit-transform-origin: 0% 0%; opacity: 1;}
}

@keyframes slide-19-20 { 
    0% {transform: scale(0,0); transform-origin: 0% 0%;}
    100% {transform: scale(1,1); transform-origin: 0% 0%; opacity: 1;}
}

@-webkit-keyframes slide-19-21 { 
    0% {-webkit-transform: scale(0,0); -webkit-transform-origin: 0% 100%;}
    100% {-webkit-transform: scale(1,1); -webkit-transform-origin: 0% 100%; opacity: 1;}
}

@keyframes slide-19-21 { 
    0% {transform: scale(0,0); transform-origin: 0% 100%;}
    100% {transform: scale(1,1); transform-origin: 0% 100%; opacity: 1;}
}

@-webkit-keyframes slide-19-23 { 
    0% {-webkit-transform: scale(0,0); -webkit-transform-origin: 100% 100%;}
    100% {-webkit-transform: scale(1,1); -webkit-transform-origin: 100% 100%; opacity: 1;}
}

@keyframes slide-19-23 { 
    0% {transform: scale(0,0); transform-origin: 100% 100%;}
    100% {transform: scale(1,1); transform-origin: 100% 100%; opacity: 1;}
}

@-webkit-keyframes slide-19-24 { 
    0% {-webkit-transform: scale(0,0); -webkit-transform-origin: 100% 100%;}
    100% {-webkit-transform: scale(1,1); -webkit-transform-origin: 100% 100%; opacity: 1;}
}

@keyframes slide-19-24 { 
    0% {transform: scale(0,0); transform-origin: 100% 100%;}
    100% {transform: scale(1,1); transform-origin: 100% 100%; opacity: 1;}
}

@-webkit-keyframes slide-19-25 { 
    0% {-webkit-transform: scale(0,0); -webkit-transform-origin: 100% 0%;}
    100% {-webkit-transform: scale(1,1); -webkit-transform-origin: 100% 0%; opacity: 1;}
}

@keyframes slide-19-25 { 
    0% {transform: scale(0,0); transform-origin: 100% 0%;}
    100% {transform: scale(1,1); transform-origin: 100% 0%; opacity: 1;}
}

@-webkit-keyframes slide-21-2 { 
    0% {right: -300px;}
    100% {opacity: 1;}
}

@keyframes slide-21-2 { 
    0% {right: -300px;}
    100% {opacity: 1;}
}

@-webkit-keyframes slide-22-2 { 
    0% {left: -300px; opacity: 1;}
    50% {left: 0px; opacity: 1;}
    100% {left: -300px; opacity: 1;}
}

@keyframes slide-22-2 { 
    0% {left: -300px; opacity: 1;}
    50% {left: 0px; opacity: 1;}
    100% {left: -300px; opacity: 1;}
}

@-webkit-keyframes slide-24-1 { 
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes slide-24-1 { 
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes slide-24-3 { 
    0% {-webkit-transform: rotateY(0deg); opacity: 1;}
    100% {-webkit-transform: rotateY(360deg); opacity: 1;}
}

@keyframes slide-24-3 { 
    0% {transform: rotateY(0deg); opacity: 1;}
    100% {transform: rotateY(360deg); opacity: 1;}
}




