html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

main {
    position: relative;
    top: 0;
    left: 0;
    width: 1024px;
    height: 768px;
}

.index {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: block;
    margin: auto;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    -webkit-animation: fadeIn 500ms ease-in-out forwards 250ms;
    -moz-animation: fadeIn 500ms ease-in-out forwards 250ms;
    -o-animation: fadeIn 500ms ease-in-out forwards 250ms;
    animation: fadeIn 500ms ease-in-out forwards 250ms;
}
.containerFull img{
	 position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	opacity: 0.7;
}
.index-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    opacity: 0;
    -webkit-animation: fadeIn 1s ease-in-out forwards 750ms;
    -moz-animation: fadeIn 1s ease-in-out forwards 750ms;
    -o-animation: fadeIn 1s ease-in-out forwards 750ms;
    animation: fadeIn 1s ease-in-out forwards 750ms;
}

.slide-5 {
    position: absolute;
    top: 404px;
    left: 336px;
    width: 118px;
    opacity: 0;
    -webkit-animation: fadeOpen 750ms ease-in-out forwards 1s;
    -moz-animation: fadeOpen 750ms ease-in-out forwards 1s;
    -o-animation: fadeOpen 750ms ease-in-out forwards 1s;
    animation: fadeOpen 750ms ease-in-out forwards 1s;
}

.slide-5-1 {
    position: absolute;
    top: 466px;
    left: 724px;
    width: 255px;
    opacity: 0;
    -webkit-animation: fadeOpen 750ms ease-in-out forwards 1s;
    -moz-animation: fadeOpen 750ms ease-in-out forwards 1s;
    -o-animation: fadeOpen 750ms ease-in-out forwards 1s;
    animation: fadeOpen 750ms ease-in-out forwards 1s;
}

.slide-5-imgs {
    position: absolute;
    width: 100px;
    opacity: 0;
}

.slide-5-2 {
    top: 554px;
    left: 284px; 
}

.slide-5-3 {
    top: 542px;
    left: 446px;
}

.slide-5-4 {
    top: 440px;
    left: 543px;
}

.slide-5-5 {
    top: 300px;
    left: 578px;
    width: 115px;
}

.slide-5-6 {
    top: 168px;
    left: 515px;
    width: 120px;
}

.slide-5-7 {
    top: 90px;
    left: 354px;
    width: 120px;
}

.slide-5-8 {
    top: 151px;
    left: 191px;
    width: 120px;
}

.slide-5-9 {
    top: 321px;
    left: 128px;
    width: 120px;
}

.slide-5-10 {
    top: 456px;
    left: 158px;
    width: 125px;
}

.slide-5-imgs-se {
    position: absolute;
    opacity: 0;
}

.slide-5-11 {
    top: 643px;
    left: 297px;
    width: 147px;
}

.slide-5-12 {
    top: 642px;
    left: 492px;
    width: 207px;
}

.slide-5-13 {
    top: 552px;
    left: 597px;
    width: 122px;
}

.slide-5-14 {
    top: 297px;
    left: 670px;
    width: 124px;
}

.slide-5-15 {
    top: 141px;
    left: 609px;
    width: 137px;
}

.slide-5-16 {
    top: 44px;
    left: 434px;
    width: 122px;
}

.slide-5-17 {
    top: 73px;
    left: 225px;
    width: 87px;
}

.slide-5-18 {
    top: 243px;
    left: 50px;
    width: 112px;
}

.slide-5-19 {
    top: 443px;
    left: 45px;
    width: 138px;
}

.slide-5-video {
    position: absolute;
    top: 250px;
    left: 285px;
    width: 280px;
    opacity: 0;
    -webkit-animation: fadeOpen 1s ease-in-out forwards 500ms;
    -moz-animation: fadeOpen 1s ease-in-out forwards 500ms;
    -o-animation: fadeOpen 1s ease-in-out forwards 500ms;
    animation: fadeOpen 1s ease-in-out forwards 500ms;
}
/*Style*/

.slide img{
	position: absolute;
	opacity: 0;
	
}
.slide-33{
 	top: 120px;
    left: 247px;
	width: 529px;
	-webkit-animation: fadeIn 750ms ease-in-out forwards 1s;
    -moz-animation: fadeIn 750ms ease-in-out forwards 1s;
    -o-animation: fadeIn 750ms ease-in-out forwards 1s;
    animation: fadeIn 750ms ease-in-out forwards 1s;
}
.slide-33-1{
 	bottom: 0px;
    left: 286px;
    width: 451px;
    -webkit-animation: zoomCenter 950ms ease-in-out forwards 1.5s;
    -moz-animation: zoomCenter 950ms ease-in-out forwards 1.5s;
    -o-animation: zoomCenter 950ms ease-in-out forwards 1.5s;
    animation: zoomCenter 950ms ease-in-out forwards 1.5s;
}
.slide-32-1{
 	bottom: 0px;
    left: 0px;
    width:913px;
    -webkit-animation: fadeIn 750ms ease-in-out forwards 1s;
    -moz-animation: fadeIn 750ms ease-in-out forwards 1s;
    -o-animation: fadeIn 750ms ease-in-out forwards 1s;
    animation: fadeIn 750ms ease-in-out forwards 1s;
}
.slide-32-2{
 	top: 65px;
    left: 350px;
    width:643px;
    -webkit-animation: zoomCenter 950ms ease-in-out forwards 1.5s;
    -moz-animation: zoomCenter 950ms ease-in-out forwards 1.5s;
    -o-animation: zoomCenter 950ms ease-in-out forwards 1.5s;
    animation: zoomCenter 950ms ease-in-out forwards 1.5s;
}



